<div class="home">
  <div class="home__container">
    <div class="home__form">
      <form class="product__form" [formGroup]="form">
        <div class="product__form-row">
          <label for="name">Name</label>
          <input type="text" formControlName="name" />
        </div>
        <div class="product__form-row">
          <label for="name">Price</label>
          <input type="number" formControlName="price" />
        </div>
        <div class="product__form-row">
          <label for="name">Quatity</label>
          <input type="number" formControlName="quantity" />
        </div>
        <div class="product__form-actions">
          <button (click)="addProduct()">Add product</button>
        </div>
      </form>
    </div>
    <div class="home__cart">
      <div class="home__cart-title">
        <h1>Cart</h1>
      </div>
      <div class="home__cart-body">
        <div class="cart">
          <table class="cart__products">
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th class="quantity">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products()">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td class="quantity-selector">
                  <app-button
                    [value]="product.quantity"
                    (onChangeQuantity)="changeQuantity(product.id, $event)"
                  />
                </td>
                <td class="delete-button">
                  <button (click)="deleteProduct(product.id)">Delete</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><b>Total</b></td>
                <td colspan="2" class="total">$ {{ totalPrice() }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="home__message">
      <button (click)="sendMessage()">Send Message</button>
      {{ message() }}
    </div>
  </div>
</div>
